<style>

</style>
<div class="toolbar sticky-top" role="banner">
 <span class="score" [(class.dhidden)] = "!showHeader" >You Score: {{score}}</span>
 <a [routerLink]="['/welcome']" >Welcome To QuizTime</span>
 <span class="user"   [style.visibility]= "!showHeader ? 'hidden':'inherit'">{{userName}}</span>
</div>
<div class="container d-flex justify-content-center align-items-center" role="main">
  <!-- Highlight Card -->
    <router-outlet  (activate)='OnActivate($event)'></router-outlet>
  <!-- Footer -->
</div>
<footer class="fixed-bottom footer d-flex justify-content-center align-items-center">
  <p> © Copyright 2020 | all rights reserved </p>
  </footer>


